.calculator {
  --color-background: #5c5751;
  --color-button: #84807d;
  --color-buttonOperator: #fe9e09;
  --color-buttonUtil: #6c6762;
}

.calculator {
  width: 220px;
  height: 260px;
  color: white;
  background-color: var(--color-background);
}

.display {
  display: flex;
  justify-content: end;
  padding: 1rem 0.875rem 0.125rem;
  font-size: 2.5rem;
  font-family: -apple-system;
  font-weight: 100;
}

.keyboard {
  display: grid;
  grid-template-areas:
    'a b c d'
    'e f g h'
    'i j k l'
    'm n o p'
    'q q r s';
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1px;
}

.button {
  appearance: none;
  outline: none;
  border: none;
  background-color: var(--color-button);
  color: inherit;
  padding: 0.5rem 0;
  font-size: 1.25rem;
}

.button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.buttonWide {
  grid-area: q;
  grid-column: span 2;
}

.buttonOperator {
  background-color: var(--color-buttonOperator);
  font-size: 1.25rem;
}

.buttonOperatorHighlighted {
  box-shadow: 1px 1px 0 0 var(--color-background) inset,
    0 -1px 0 0 var(--color-background) inset;
}

.buttonUtil {
  background-color: var(--color-buttonUtil);
  font-size: 1rem;
}
